[run]
omit =
    */migrations/*
    */tests/*
    */test/*
    */tests.py
    gunicorn_config.py
    backend_test/tasks.py
    backend_test/conftest.py
    backend_test/settings.py
    backend_test/wsgi.py
    backend_test/logging_formatter.py
